body {
  background-image: url("/public/assets/wallpaper.jpg");
  background-size: 100%;
}

.topbarBorder {
  height: 10vh;
  width: 100%;
  border-radius: 15%;
}

.unitListDisplayBackground {
  background-color: rgba(0, 0, 0, .5)
}

h1 {
  text-align: center;
  color: #ADD8E6;
}

h3 {
  text-align: center;
  color: #ADD8E6;
}

h4 {
  text-align: center;
  color: #ADD8E6;
}

p {
  text-align: center;
  color: #ADD8E6;
}

.abilitiesImage {
  border-radius: 20%;
}

.abilitiesImage .abilitiesImagetext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}


.abilitiesImage:hover .abilitiesImagetext {
  visibility: visible;
  opacity: 50%;
  cursor: pointer;

}