body {
  background-image: url("/public/assets/wallpaper.jpg");
  background-size: 100%;
}

.topbarBorder {
  height: 10vh;
  width: 100%;
  border-radius: 15%;
}

.unitListDisplayBackground {
  background-color: rgba(0, 0, 0, .5)
}

h1 {
  text-align: center;
  color: #ADD8E6;
}

p {
  text-align: center;
  color: #ADD8E6;
}
